:root {
  --primary: #b6895b;
  --bg: #010101;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  border: none;
  text-decoration: none;
}

body {
  font-family: "poppins", sans-serif;
  background-color: var(--bg);
  color: #fff;
  min-height: 3000px;
}

/* Navbar*/
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.4rem 7%;
  background-color: rgba(1, 1, 1, 0.8);
  border-bottom: 1px solid#1d96ce;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 9999;
}

.navbar .navbar-logo {
  font-size: 2rem;
  font-weight: 700;
  color: #fff;
  font-style: italic;
}

.navbar .navbar-logo span {
  color: var(--primary);
}

.navbar .navbar-nav a {
  color: #fff;
  display: inline-block;
  font-size: 1.3rem;
  margin: 0 1rem;
}

.navbar .navbar-nav a:hover {
  color: var(--primary);
}

.navbar .navbar-nav a::after {
  content: "";
  display: block;
  padding-bottom: 0.5rem;
  border-bottom: 0.1rem solid var(--primary);
  transform: scaleX(0);
  transition: 0.2s linear;
}

.navbar .navbar-nav a:hover::after {
  transform: scaleX(0.5);
}

.navbar .navbar-extra a {
  color: #fff;
  margin: 0 0.5rem;
}

.navbar .navbar-extra a:hover {
  color: var(--primary);
}

#hamburger-menu {
  display: none;
}
/*Hero Section*/
.hero {
  min-height: 100vh;
  display: flex;
  align-items: center;
  background-image: url("sean.jpg");
  background-repeat: no-repeat;
  background-position: center;
  position: relative;
}
.hero::after {
  content: "";
  display: block;
  position: absolute;
  width: 100%;
  height: 30%;
  bottom: 0;
  background: linear-gradient(
    0deg,
    rgba(1, 1, 3, 1) 8%,
    rgba(255, 255, 255, 0) 55%
  );
}

.hero .content {
  padding: 1.4rem 7%;
  max-width: 60rem;
}

.hero .content h1 {
  font-size: 5em;
  color: #fff;
  text-shadow: 1px 1px 3px rgba(1, 1, 3, 0.5);
  line-height: 1.2;
}

.hero .content h1 span {
  color: #b6895b;
}
.hero .content p {
  font-size: 1.6rem;
  margin-top: 1rem;
  line-height: 1.4;
  font-weight: 100;
  text-shadow: 1px 1px 3px rgba(1, 1, 3, 1.5);
}

.hero .content .cta {
  margin-top: 1rem;
  display: inline-block;
  padding: 1rem 3rem;
  font-size: 1.4rem;
  color: #fff;
  background-color: #b6895b;
  border-radius: 0.5rem;
  box-shadow: 1px 1px 3px rgba(1, 1, 3, 0.5);
}

/* About Section*/
.about,
.menu,
.Curiculum,
.Tugasweb {
  padding: 10rem 8% 1.4rem;
}
.about h3 {
  text-align: center;
}

.about h2,
.menu h2,
.Curiculum h2,
.Tugasweb h2 {
  text-align: center;
  font-size: 2.6rem;
  margin-bottom: 3rem;
}
.about h2 span,
.menu h2 span,
.Curiculum h2 span,
.Tugasweb h2 span {
  color: var(--primary);
}

.about.row {
  display: flex;
}
.about .row .about-img img {
  min-height: 1px;
  display: flex;
}
.about .row .about-video {
  flex: 1 1 35rem;
}

.about .row .about-video video {
  padding: center;
  margin-bottom: 2rem;
}
.about .row h3 {
  display: flex;
  text-align: center;
  max-width: 30;
  margin: 0;
  font-weight: 100;
  line-height: 1.6;
}
.about .row p {
  text-align: center;
}
/* Keahlian*/
.marquee {
  width: 100%;
  overflow: hidden;
  white-space: nowrap;
  box-sizing: border-box;
}

.marquee span {
  display: inline-block;
  padding-left: 100%;
  animation: marquee 10s linear infinite;
}
.about .row img {
  width: 400px;
  height: 550px;
  border-radius: 10px;
  box-shadow: 10px;
}

@keyframes marquee {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(-100%);
  }
}
.menu {
  border-bottom: 0.1rem solid var(--primary);
}
.menu p {
  text-align: center;
}
/* Tabel*/
.menu .tabel {
  font-family: Arial, sans-serif;
  background-color: #f9f9f9;
  padding: 20px;
  text-align: center;
  
}
.menu .tabel h1 {
  color: #333;
}
table {
  width: 60%;
  margin: 0 auto;
  border-collapse: collapse;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}
th,
td {
  padding: 12px 15px;
  border: 1px solid #ddd;
}
th {
  background-color: #4caf50;
  color: white;
}
tr:nth-child(even) {
  background-color: #000000;
}
tr:hover {
  background-color: #000000;
}

.menu h1 {
 
  text-align: center;
  margin-bottom: 1rem;
}

/*curiculum vite*/
.Curiculum {
  font-size: 1.6rem;
  margin-bottom: 1rem;
  text-align: center;
  border-bottom: 0.1rem solid var(--primary);
  

}


.Curiculum a {
  margin: 2px 2px 100px;
  display: inline-block;
  padding: 12px 24px;
  font-size: 1.4rem;
  color: #fff;
  background-color: #b6895b;
  border-radius: 0.5rem;
  box-shadow: 1px 1px 3px rgba(1, 1, 3, 0.5);
}
/*tugasweb*/
.Tugasweb {
  padding: 10rem 11% 1.4rem;
  border-bottom: 0.1rem solid var(--primary);
  margin: 10px 10px;
}

/*kontak*/
.contact {
  margin: 10px 10px;
}
.contact h2{
  padding: 10rem 9% 1.4rem;
  text-align: center;
  font-size: 30px;
}
form {
  width: 300px;
  margin: auto;
}
form input[type="text"], form textarea {
  width: 100%;
  margin: 10px 0;
}
form input[type="submit"] {
  background-color: #4CAF50;
  color: white;
  padding: 10px;
  border: none;
  cursor: pointer;
}
footer {
  text-align: center;
  background-color: #4CAF50;
  padding: 10px;
  font-weight: bold;
  position: relative;
}

/* Media Queries*/

/*laptop*/

@media (max-width: 1366px) {
  html {
    font-size: 75%;
  }
}

/* Tablet*/

@media (max-width: 768px) {
  html {
    font-size: 62.5%;
  }

  #hamburger-menu {
    display: inline-block;
  }
  .navbar .navbar-nav {
    position: absolute;
    top: 100%;
    right: -100%;
    background-color: #fff;
    width: 30rem;
    height: 100vh;
    transition: 0.3s;
  }

  .navbar .navbar-nav.active {
    right: 0;
  }
}

/*Mobile Phone*/

@media (max-width: 450px) {
  html {
    font-size: 55%;
  }
}
